<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
  The 'pets' data comes from its $scope within PetIndexCtrl (controller.js)
-->
<ion-view title="Delegates" right-buttons="rightButtons" >
  <ion-content has-header="true" has-tabs="false">
    <ion-refresher
     on-refresh="onRefresh()"
     >
    </ion-refresher>
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search" ng-model="q">
  </label>
  <div ng-if="session.user.assigned">
    <div class="item item-divider">
      Delegates
    </div>
    <div class="list">
      <div class="item item-avatar" ng-repeat="user in users | filter: q | orderBy" >
        <img ng-src="http://graph.facebook.com/{{user.facebook.id}}/picture">
        <h2>{{user.position}}</h2>
        <p>{{user.name}}</p>
      </div>
    </div>
  </div>
  <div ng-if="!session.user.assigned" class="card">Enter your committee and position in settings</div>
  <div class="item item-divider">
    Secretariat
  </div>
  <div class="list">
      <div class="item item-avatar" ng-repeat="user in secretariat | filter: q | orderBy" >
        <img ng-src="http://graph.facebook.com/{{user.facebook.id}}/picture">
        <h2>{{user.position}}</h2>
        <p>{{user.name}}</p>
      </div>
  </div>

  </ion-content>
</ion-view>
