<ion-view title="McMUN">
    <ion-content class="has-header">
    <div class="list">

    <a class="item item-icon-left" ng-href="#/submenu?url=/m/itinerary&title=itinerary">
        <i class="icon ion-ios7-calendar-outline"></i>
        Conference itinerary
    </a>
    <div class="item item-divider">
        Hotel
      </div>
        <a class="item item-icon-left" ng-click="browser('google.ca/maps/place/Le+Centre+Sheraton+Montreal+Hotel/@45.498228,-73.571555,17z')">
        <i class="icon ion-ios7-location"></i>
        Hotel direction
    </a>
    <a class="item item-icon-left" ng-href="/img/floormap.pdf">
    <!-- <a class="item item-icon-left" ng-href="http://www.ssuns.org/static/files/floorplan.pdf"> -->
        <i class="icon ion-ios7-paperplane"></i>
        Floor plan
    </a>

    <div class="item item-divider">
        Media
      </div>
      <a class="item item-icon-left" ng-href="#/social">
        <i class="icon ion-social-instagram-outline"></i>
        #McMUN2015
    </a>

    <div class="item item-divider">
        More
      </div>
      <a class="item item-icon-left" ng-href="#/submenu?url=/m/our-sponsors&title=sponsors">
        <i class="icon ion-earth"></i>
        Sponsors
    </a>
    <a class="item item-icon-left" ng-href="#/submenu?url=/m/food&title=Food">
        <i class="icon ion-coffee"></i>
        Food deals
    </a>
    <a class="item item-icon-left" ng-href="#/submenu?url=/m/hotel-contact&title=contact">
        <i class="icon ion-ios7-information-outline"></i>
        Contact Information
    </a>
  </div>
  </ion-content>
</ion-view>
