<ion-view title="Forum">
  <ion-content has-header="true" padding="true" has-tabs="false">
  <ion-refresher on-refresh="onRefresh()"></ion-refresher>
  <ol class="messages">
    <li ng-repeat="message in messages" ng-class="{me: message.user._id == session.user._id}"><span>{{message.user.position}}</span><p>{{message.content}}</p></li>
    <div></div>
  </ol>
</ion-content>
<ion-footer class="bar bar-footer bar-light bar-input-inset android-fix">
        <label class="item-input-wrapper">
    <input type="text" placeholder="" ng-model="newMessage">
  </label>
  <button class="button button-clear button-positive" ng-click="addMessage()">
    Send
  </button>
</ion-footer>
</ion-view>
